body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    
}
#home{
    width:100%;
    height:1000px;
    background-color: rgb(218, 222, 224);
    box-sizing: border-box;
   
}
.up_side{
    height:75px;
    width:100%;
    background-color: aqua;
    position: fixed;   
    display: flex;
    z-index: 1;
  
    
}

#logo a img{
    width:57px;
    height:122px;
    margin-left: 13px;
    

}
#nav_side ul{
    margin-left: 240px;
    margin-right:0px;
}
#nav_side ul a{
   font-size:14px;
   font-family: 'Karla', sans-serif;
   text-decoration: none;
   padding:20px;
   position: relative;
   top:10px;
   color:#264549;
   
   
   
}
#responsive_side_menu{
    display: none;
}
#responsive_side_menu_icon{
    font-size: 30px;    
    position: absolute;
    top: 20px;
    right: 13px;
    color: #264549;
    display: none;
}

/* #responsive_side_menu ul a{
   font-size:14px;
   font-weight: 400;
   font-family: 'Karla', sans-serif;
   text-decoration: none;
   padding: 10px 18px 10px 18px;
   margin-bottom: 5px;
   position: relative;
   top:10px;
   color:#264549;
   
} */
/* Responsive CSS */

@media only screen and (max-width: 1125px) {
    #nav_side ul {
        margin-left: 0px;
        margin-right:13px;
       
    
    }
  }
  @media only screen and (max-width: 1124px){
    #responsive_side_menu_icon{
        display: block;

    }
    #nav_side ul{
        display:none;
    }
  }
@media only screen and (max-width: 1124px){
    #responsive_side_menu{
        display: none;
        width:250px;
        height:calc(100% - 75px);
        background-color: rgb(172, 187, 185);
        position: fixed;     
        margin-top:75px;
        right:0px;
    }
    #responsive_side_menu ul{
        width: 115px;
        padding-left: calc(50% - 57px);
        padding-right: calc(50% - 57px);      
        
    }
    #responsive_side_menu ul a{
        font-size:14px;
        font-weight: 400;
        font-family: 'Karla', sans-serif;
        text-decoration: none;
        padding: 10px 18px 10px 18px;      
        position: relative;
        top:10px;
        left:10px;
        text-align: justify;
        color:#264549;      
        line-height: 40px;
      
    }
}  
.header h1,.header p{
    position: relative;
    top:240px;
    padding-left:80px;
    margin:0px;
    color:#214b51;    

}
.header h1{
    font-weight:700;

}
.header p{
    /* margin-bottom:13px; */
    margin-top:20px;
    font-weight: 400;
    font-size:24px;
    
}
.header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    display: flex;
}
#side_photo{


}
#services{
    width:100%;
    height:1000px;
    background-color:purple;

}